body {
    background-color: #f4f6f9;
}

.category-item {
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.95rem;
}

.category-item:hover {
    background-color: #e9ecef;
    color: #0d6efd;
    font-weight: 500;
}

.news-card {
    transition: transform 0.2s;
    border: none;
}

.news-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.hover-blue:hover {
    color: #0d6efd !important;
}

/* Style cho nội dung crawl về */
.article-body img {
    display: block;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.article-body p {
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
}